@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.home {
  display: flex;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
}

.sidebar {
  width: 15rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-right: 0.0625rem solid #e0e0e0;
  padding: 1.5rem;
}

.logo1 img {
  width: 100%;
  margin-bottom: 2rem;
  margin-left: -1vw;
}

.sidebar nav {
  flex-grow: 1;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 16px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 8px 0;
  transition: color 0.3s ease;
}

.sidebar nav ul li a:hover {
  color: #007bff;
}

.sidebar nav ul li .fa-icon {
  margin-right: 12px;
  width: 20px;
}

.sidebar-actions {
  margin: 24px 0;
}

.new-document,
.buy,
.login {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.new-document {
  background-color: #f0f0f0;
  color: #333;
  margin-bottom: 12px;
}

.new-document:hover {
  background-color: #e0e0e0;
}

.buy {
  background-color: #ffd700;
  color: #333;
}

.buy:hover {
  background-color: #ffc700;
}

.login {
  background-color: #007bff;
  color: #ffffff;
}

.login:hover {
  background-color: #0056b3;
}

.sidebar-footer {
  margin-top: auto;
}

.sidebar-footer ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 16px;
}

.sidebar-footer ul li {
  margin-bottom: 12px;
}

.sidebar-footer ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.sidebar-footer ul li a:hover {
  color: #007bff;
}

.sidebar-footer ul li .fa-icon {
  margin-right: 12px;
  width: 20px;
}

.content {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
  background-color: #f8f9fa;
  margin-left: 15vw;
}

.category {
  margin-bottom: 5rem;
}

.category h2 {
  font-size: 2vw;
  margin-bottom: 2rem;
  font-weight: 600;
  color: #333;
}

.items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
  /* padding: 0.4rem; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 10vw;
  height: 20vh;
}

.item:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.12);
}

.item img {
  width: 50%;
  height: auto;
  margin-top: 2rem;
}

.item span {
  margin-top: 2vw;
  font-size: 1vw;
  text-align: center;
  font-weight: 500;
  color: #333;
}


